{% extends "base.html" %}

<!---------- Navigation ----------->
{% block navigation %}
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('web.quiz') }}">Упражнения</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="{{ url_for('web.words') }}">Словарь</a>
</li>
{% if current_user.role.value > 0 %}
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('web.edit_words') }}">Редактирование базы слов</a>
</li>
{% endif %}
{% endblock %}

<!---------- Content ----------->
{% block content %}

<div class="col-md">
    <div class="container rounded-lg py-3">
        <input type="text" id="searchInput" class="form-control form-control-sm mb-3" placeholder="Поиск...">
        <div class="table-wrapper">
            <table class="table table-sm table-hover table-bordered" id="wordsTable">
                <thead>
                <tr>
                    <th scope="col" width="2%">№</th>
                    <th scope="col" width="20%">Русское слово</th>
                    <th scope="col" width="20%">Чешское слово</th>
                    <th scope="col" width="20%">Часть речи</th>
                    <th scope="col" width="19%">Род</th>
                    <th scope="col" width="19%">Число</th>
                </tr>
                </thead>
                <tbody>
                {% for word in words_list %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td class="text-capitalize">{{ word.rus }}</td>
                    <td class="text-capitalize">{{ word.cz }}</td>
                    <td class="text-capitalize">{{ parts_of_speech[word.part_of_speech] }}</td>
                    <td class="text-capitalize">{{ genders[word.gender] }}</td>
                    <td class="text-capitalize">{{ forms[word.form] }}</td>
                </tr>
                {% endfor %}
            </table>
        </divfont>
    </div>
</div>

{% endblock %}


<!---------- Script ----------->

{% block script %}

<script>

$(document).ready(function(){
  $("#searchInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#wordsTable tr:not(:first)").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});


</script>

{%endblock%}
