{% extends "base.html" %}

<!---------- Content ----------->
{% block content %}
<div class="col-4">
    <div class="row-fluid">
        <div class="col">
            <div class="container border rounded py-2">
                <form method="POST">
                    <div class="form-group">
                        <label for="inputRus">Логин</label>
                        <input required class="form-control" name='inputRus' placeholder="Логин">
                    </div>
                    <div class="form-group">
                        <label for="inputCz">Пароль</label>
                        <input required class="form-control" name='inputCz' placeholder="Пароль">
                    </div>
                    <button type="submit" class="btn btn-dark">Войти</button>
                </form>
            </div>
        </div>
    </div>

    {% if result %}
    <div class="row-fluid my-3">
        <div class="col">
            <div class="container border rounded py-2">
                Слово сохранено! {{ result }}
            </div>
        </div>
    </div>
    {% endif %}

</div>

<div class="col-8">
    <div class="row-fluid">
        <div class="col">
        </div>
    </div>
</div>

{% endblock %}


<!---------- Script ----------->

{% block script %}

<script>

function showGender(val) {

}

</script>

{%endblock%}
