{% extends "base.html" %}

<!---------- Navigation ----------->
{% block navigation %}
<li class="nav-item">
    <a class="nav-link active" href="{{ url_for('quiz') }}">Упражнения</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('words') }}">Словарь</a>
</li>
{% if current_user.role.value > 0 %}
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('edit_words') }}">Редактирование базы слов</a>
</li>
{% endif %}
{% endblock %}

<!---------- Content ----------->
{% block content %}
<div class="col-sm-6 offset-sm-3">
    <div class="container border rounded-lg my-2 p-3">
        <p>Выберите правильный перевод слова <b class="text-capitalize">{{ question }}</b></p>
        <div class="list-group">
            {% for option in options %}
            <button type="button" class="list-group-item list-group-item-action" onclick="checkAnswer(this)"
                    value="{{option}}" name="option">
                <span class="text-capitalize">{{option}}</span>
            </button>
            {% endfor %}
        </div>

        <div class="mt-2" id="next_word" style="display: none">
            <a role="button" class="btn btn-sm btn-outline-secondary" href="{{ url_for('quiz') }}">Следующее слово</a>
        </div>
    </div>
</div>

{% endblock %}


<!---------- Script ----------->

{% block script %}

<script>
var clicked = false;
function checkAnswer(val) {
    if (clicked)
        return;
    clicked = true;

    let next_word = document.getElementById('next_word')
    next_word.style.display = "block";

    let options = document.getElementsByName('option')
    if (val.value == '{{ answer }}'){
        val.classList.add('list-group-item-success');
        return;
    }

    val.classList.add('list-group-item-danger')
    for (let i=0; i<options.length; i++)
        if (options[i].value == '{{answer}}')
            options[i].classList.add('list-group-item-success');

}

</script>

{%endblock%}
